{% set title_element = title_element|default('h1') %}

{% embed '@theme/patterns/compositions/editable-hero-banner.html.twig' with hero|default({}) %}
  {% block content %}
    {% if insertion is not empty %}
      <span class="ecl-description">{{ insertion }}</span>
    {% endif %}

    {% if title is not empty %}
      <{{ title_element }} class="ecl-title ecl-title--display1">
        {{ title }}
      </{{ title_element }}>
    {% endif %}

    {% if description is not empty %}
      <p class="ecl-description">{{ description }}</p>
    {% endif %}

    {% include "@theme/patterns/components/inline-actions.html.twig" with {
      items: actions
    } %}
  {% endblock %}
{% endembed %}
