{{ attach_library('eic_community/react-block-overview-search') }}
<div
  id="group-overview"
  data-facets="{{ facets | json_encode }}"
  data-sorts="{{ sorts | json_encode }}"
  data-page-options="{{ page_options }}"
  data-datasource="{{ datasource | json_encode }}"
  data-search-string="{{ search_string }}"
  data-enable-search="{{ enable_search }}"
  data-enable-date-filter="{{ enable_date_filter }}"
  data-solr-url="{{ url }}"
  data-solr-is-anonymous="{{ isAnonymous }}"
  data-solr-translations="{{ translations | json_encode }}"
  data-source-class="{{ source_class }}"
  data-source-bundle="{{ bundle }}"
  data-source-layout="{{ layout }}"
  data-current-group="{{ currentGroup }}"
  data-current-group-url="{{ currentGroupUrl }}"
  data-is-group-owner="{{ isGroupOwner }}"
  data-user-id-from-route="{{ user_id_from_route }}"
  data-enable-facet-my-groups="{{ enable_facet_my_groups }}"
  data-enable-facet-interests="{{ enable_facet_interests }}"
  data-allow-pagination="{{ allow_pagination }}"
  data-load-more-number="{{ load_more_number }}"
  data-prefilters="{{ prefilters | json_encode }}"
  data-prefilter-my-interests="{{ prefilter_my_interests }}"
  data-is-group-search-overview="{{ is_route_group_search_results }}"
  data-enable-invite-user-action="{{ enable_invite_user_action }}"
  data-invite-user-url="{{ invite_user_url }}"
  data-group-admins="{{ manager_roles | json_encode }}"
  data-enable-registration-filter="{{ enable_registration_filter }}"
  data-post-content-actions="{{ post_content_actions | json_encode }}"
></div>
