{#
/**
 * @file
 * Teaser theme implementation to present a stakeholder entity.
 *
 * This template is used when viewing a canonical stakeholder page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_stakeholder()
 */
#}

<article{{ attributes }}>
  {% if content %}
    <div class="ecl-u-d-inline-flex ecl-u-ml-2xs ecl-u-align-items-center">
      <img class="ecl-u-mh-2xs" alt="{{ content.field_stakeholder_address.0["#country"].name }}" src="{{ eic_images_path ~ '/flags/24/' ~ content.field_stakeholder_address.0["#country"]["code"] ~ '.png' }}"/>
      <div class="ecl-u-ml-2xs">{{ content.field_stakeholder_address.0["#country"].name }} {{ bundle == 'coordinator' ? '(Coordinator)' }}</div>
    </div>
  {% endif %}
</article>
