{#
/**
 * @file
 * Default theme implementation to present a stakeholder entity.
 *
 * This template is used when viewing a canonical stakeholder page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_stakeholder()
 */
#}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
    <strong>
      {% if content.field_stakeholder_organisation.0 %}
        <a href="{{ content.field_stakeholder_organisation.0['#url'] }}">{{ content.label }}</a>
      {% else %}
        {{ content.label }}
      {% endif %}
    </strong>
    {{ content.field_stakeholder_address }}
    {% if content.field_stakeholder_related_people.0 %}
      <div>{{ "Related people in the EIC Community" }}</div>

      {% include "@theme/patterns/compositions/teaser-overview.html.twig" with {
        amount_options: amount_options,
        active_filters: active_filters,
        sort_options: sort_options,
        items: items,
        no_items_available: no_items_available,
        no_items_available_header: no_items_available_header,
        extra_classes: 'ecl-teaser-overview--has-columns ecl-teaser-overview--has-3-columns',
        icon_file_path: common.icon_file_path,
      } only %}
    {% else %}
      <div>{{ "No related people in the EIC Community" }}</div>
    {% endif %}
  {% endif %}
</article>
