{% import "@theme/patterns/core/snippets.twig" as snippets %}
{% set title_element = title_element|default('h2') %}

<div class="ecl-navigation-list {{ extra_classes }}" {{ snippets.attr(extra_attributes) }}>
  {% if collapse is not empty %}
    <div class="ecl-navigation-list__controls">
        {% include "@ecl-twig/ec-component-button/ecl-button.html.twig" with {
          label: collapse.label|default('Toggle menu'),
          icon: {
            name: 'download',
            type: 'custom',
            path: icon_file_path,
            size: 'xs',
          },
          type: 'button',
          variant: 'secondary',
          extra_classes: 'ecl-navigation-list__toggle ecl-button--has-compact-layout ' ~ toogle_extra_classes,
        } %}
    </div>
  {% endif %}
  <div class="ecl-navigation-list__main">
    {% if block('before') is not empty %}
      <div class="ecl-navigation-list__main-before">
        {% block before %}{% endblock %}
      </div>
    {% endif %}

    {% if title is not empty %}
      <{{ title_element }} class="ecl-navigation-list__title">{{ title }}</{{ title_element }}>
    {% endif %}

    {% include "@theme/patterns/components/navigation-list/navigation-list-items.html.twig" with {
      anchor: anchor
    } %}

    {% if contact_box is not empty %}
      {% include "@theme/patterns/components/contact-box.html.twig" with contact_box %}
    {% endif %}

    {% if block('after') is not empty %}
      <div class="ecl-navigation-list__main-after">
        {%- block after -%}{%- endblock -%}
      </div>
    {% endif %}
  </div>
</div>
