{% if items is not empty %}
  <ul class="ecl-navigation-list__items">
    {% for item in items %}
      <li class="ecl-navigation-list__item {{ item.extra_classes }}" aria-active="{{ item.is_active ? 'true' : 'false' }}">
        <div class="ecl-link ecl-navigation-list__link">
          <a  href="{{ item.link.path }}{{ anchor }}">
            {{ item.link.label }}
          </a>
          <span class="ecl-navigation-list__link-controls">
            {% if item.updates %}
              {% include "@theme/patterns/components/update-indicator.html.twig" with item.updates|default({})|merge({
                extra_classes: 'ecl-navigation-list__update-indicator',
              }) %}
            {% endif %}
            {% if item.items %}
              {% include "@ecl-twig/ec-component-icon/ecl-icon.html.twig" with {
                icon: icon_file_path ? {
                  path: icon_file_path,
                  type: 'ui',
                  name: 'rounded-arrow',
                  size: '2xs',
                },
                extra_classes: 'ecl-navigation-list__item-icon',
              } only %}
            {% endif %}
          <span>
        </div>
        {% if item.items is not empty %}
          {% include "@theme/patterns/components/navigation-list/navigation-list-items.html.twig" with {
            icon_file_path: icon_file_path,
            items: item.items,
            collapse: null,
          } only %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
