<div class="announcements {{ extra_classes }}">
  <h4 class="announcements__title">{{ title }}</h4>
  <p>{{ description }}</p>
  <a class="announcements__link" href="{{ cta.link }}">{{ cta.label }}</a>
</div>
