{% if is_clickable %}
  <a href="{{ path }}" download class="ecl-attachment ecl-attachment--has-compact-layout {{ from_contributor ? 'ecl-attachment--from-contributor' }} {{ extra_classes }}">
{% else %}
  <div class="ecl-attachment {{ from_contributor ? 'ecl-attachment--from-contributor' }} {{ extra_classes }}">
{% endif %}
  <div class="ecl-attachment__main">
    {% if image or icon %}
      <aside class="ecl-attachment__aside">
        {% if image is not empty %}
          <div class="ecl-attachment__image-wrapper">
            <img class="ecl-attachment__image" src="{{ image.src }}" alt="{{ image.alt }}" />
          </div>
        {% elseif icon_file_path and icon is not empty %}
          <div class="ecl-attachment__icon-wrapper">
            {% include "@ecl-twig/ec-component-icon/ecl-icon.html.twig" with {
              extra_classes: 'ecl-attachment__icon',
              icon: icon_file_path ? {
                path: icon_file_path,
                name: icon.name,
                size: is_clickable ? 's' : 'm',
                type: icon.type,
              } : {},
            } only %}
          </div>
        {% endif %}
      </aside>
    {% endif %}
    <div class="ecl-attachment__content">
      <div class="ecl-attachment__content-header">
        <span class="ecl-attachment__title">
          {{ title|default(path) }}
        </span>
        {% if type or path %}
          <span class="ecl-attachment__type">
            {{- type|default(path|split('.')|last) -}}
          </span>
        {% endif %}
      </div>
    </div>
  </div>
  {% if author or timestamp or language or filesize or path %}
    {% if not is_clickable %}
      <div class="ecl-attachment__footer">
        <div class="ecl-attachment__actions">
          {% if author %}
            <div class="ecl-attachment__action ecl-attachment__action--author">
                {% if author.path %}
                  {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
                    link: {
                      type: 'standalone',
                      label: author.author,
                      path: author.path,
                    },
                    extra_classes: "ecl-attachment__author",
                  } only %}
                {% else %}
                  <span class="ecl-attachment__author">{{ author.author }}</span>
                {% endif %}
            </div>
          {% endif %}
          {% if timestamp %}
            <div class="ecl-attachment__action">
              {% include "@theme/patterns/components/timestamp.html.twig" with {
                extra_classes: 'ecl-attachment__timestamp ecl-timestamp--meta ' ~ timestamp.extra_classes|default(''),
                label: timestamp,
                icon_file_path: icon_file_path,
              } only %}
            </div>
          {% endif %}
          {% if language %}
            <div class="ecl-attachment__action">{{ language }}</div>
          {% endif %}
          {% if filesize %}
            <div class="ecl-attachment__action">{{ filesize }}</div>
          {% endif %}
          {% if path %}
            <div class="ecl-attachment__action">
              {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
                icon: icon_file_path ? {
                  path: icon_file_path,
                  type: 'custom',
                  name: 'download',
                  size: 'xs',
                  extra_classes: "ecl-attachment__link-icon",
                } : {},
                link: {
                  type: 'standalone',
                  label: download_label|default('Download'),
                  path: path,
                  icon_position: 'before',
                },
                extra_classes: "ecl-attachment__link",
                extra_attributes: {
                  download: true
                },
              } only %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
{% if is_clickable %}
  </a>
{% else %}
  </div>
{% endif %}
