{% if is_clickable %}
  <a href="{{ path }}" download class="ecl-attachment ecl-attachment--has-compact-layout {{ highlight.is_active ? 'ecl-attachment--is-highlighted' }} {{ extra_classes }}">
{% else %}
  <div class="ecl-attachment {{ highlight.is_active ? 'ecl-attachment--is-highlighted' }} {{ extra_classes }}">
{% endif %}
  <div class="ecl-attachment__main">
    {% if image or icon %}
      <aside class="ecl-attachment__aside">
        {% if image is not empty %}
          <div class="ecl-attachment__image-wrapper">
            <img class="ecl-attachment__image" src="{{ image.src }}" alt="{{ image.alt }}" />
          </div>
        {% elseif icon_file_path and icon is not empty %}
          <div class="ecl-attachment__icon-wrapper {{ is_clickable ? 'ecl-attachment__icon-wrapper--s' }}">
            {% include "@ecl-twig/ec-component-icon/ecl-icon.html.twig" with {
              extra_classes: 'ecl-attachment__icon',
              icon: icon_file_path ? {
                path: icon_file_path,
                name: icon.name,
                size: is_clickable ? 's' : 'l',
                type: icon.type,
              } : {},
            } only %}
          </div>
        {% endif %}
      </aside>
    {% endif %}
    <div class="ecl-attachment__content">
      <div class="ecl-attachment__content-header">
        {% if is_clickable %}
          <span class="ecl-attachment__title">{{ title|default(path) }}</span>
        {% else %}
          <a class="ecl-attachment__title" href="{{ path }}">{{ title|default(path) }}</a>
        {% endif %}
        {% if type or path %}
          <span class="ecl-attachment__type">
            {{- type|default(path|split('.')|last) -}}
          </span>
        {% endif %}

        {% if highlight %}
          <button class="ecl-attachment__highlight">
            {% if icon_file_path %}
              {% include "@ecl-twig/ec-component-icon/ecl-icon.html.twig" with {
                icon: {
                  path: icon_file_path,
                  name: 'star_circle',
                  size: 'm',
                  type: 'custom',
                },
                extra_classes: 'ecl-attachment__highlight-icon ',
              } only %}
            {% endif %}
            <span class="ecl-attachment__highlight-label">
              {{ highlight.label|default('Highlight') }}
            </span>
          </button>
        {% endif %}
      </div>
    </div>
  </div>
  {% if author or timestamp or language or filesize or path %}
    {% if not is_clickable %}
      <div class="ecl-attachment__footer">
        <div class="ecl-attachment__actions">
          {% if timestamp %}
            <div class="ecl-attachment__action">
              {% include "@theme/patterns/components/timestamp.html.twig" with {
                extra_classes: 'ecl-attachment__timestamp ecl-timestamp--meta ' ~ timestamp.extra_classes|default(''),
                label: timestamp,
                icon_file_path: icon_file_path,
              } only %}
            </div>
          {% endif %}
          {% if language %}
            <div class="ecl-attachment__action">{{ language }}</div>
          {% endif %}
          {% if author %}
            <div class="ecl-attachment__action">
              {% if author.path %}
                Uploaded by&nbsp;{% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
                  link: {
                    type: 'standalone',
                    label: author.name,
                    path: author.path,
                  },
                  extra_classes: "ecl-attachment__author",
                } only %}
              {% else %}
                <span class="ecl-attachment__author">{{ author.name }}</span>
              {% endif %}
            </div>
          {% endif %}
          {% if filesize %}
            <div class="ecl-attachment__action">{{ filesize }}</div>
          {% endif %}
          {% if path %}
            <div class="ecl-attachment__action">
              {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
                icon: icon_file_path ? {
                  path: icon_file_path,
                  type: 'custom',
                  name: 'download',
                  size: 'xs',
                  extra_classes: "ecl-attachment__link-icon",
                } : {},
                link: {
                  type: 'standalone',
                  label: download_label|default('Download'),
                  path: path,
                  icon_position: 'before',
                },
                extra_classes: "ecl-attachment__link ecl-link ecl-link--standalone",
                extra_attributes: {
                  download: true
                },
              } only %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
{% if is_clickable %}
  </a>
{% else %}
  </div>
{% endif %}
