{% set label_element = label_element|default('span') %}
{% if author is not empty %}
  <div class="ecl-author ecl-author--is-{{ size|default('default') }}">
    <div class="ecl-author__information">
      {% if description is not empty %}
        <span class="ecl-author__description">{{ description }}</span>
      {% endif %}
      <{{ label_element}} class="ecl-author__label {{ label_classes }}">
        {% if path is not empty %}
          <a href="{{ path }}">{{ author }}</a>
        {% else %}
          {{ author }}
        {% endif %}
      </{{ label_element}}>
    </div>
    {% if image is not empty %}
      {% include '@ecl-twig/ec-component-media-container/ecl-media-container.html.twig' with {
        extra_classes: 'ecl-author__media',
        description: false,
        sources: [],
        image: image.src,
        alt: image.alt,
      } only %}
    {% elseif author is not empty %}
      <span class="ecl-author__initials-wrapper">
        <span class="ecl-author__initials">
          {% for name in author|split(' ') %}
            {{- name|first -}}
          {% endfor %}
        </span>
      </span>
    {% endif %}
  </div>
{% endif %}
