{% set label_element = label_element|default('span') %}
{% set icon_file_path = icon_file_path ? icon_file_path : '/themes/custom/eic_community/dist/images/sprite/custom/sprites/custom.svg' %}
{% if name is not empty %}
  <div class="ecl-author ecl-author--is-{{ size|default('default') }} {{ updates.value ? ' ecl-author--has-updates ' }} {{ extra_classes }}">
    {% if not display_avatar_only %}
      <div class="ecl-author__information">
        <{{ label_element}} class="ecl-author__label {{ label_classes }}">
          {% if path is not empty %}
            {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
              link: {
                type: 'standalone',
                label: name,
                path: path
              },
              extra_classes: 'ecl-author__link',
            } only %}
          {% else %}
            {{ name }}
          {% endif %}
        </{{ label_element}}>
        {% if description is not empty %}
          <span class="ecl-author__description">{{ description }}</span>
        {% endif %}
        {% if meta is not empty %}
          <span class="ecl-author__meta">{{ meta }}</span>
        {% endif %}
        {% if actions is not empty %}
          <div class="ecl-author__actions">
            {% for action in actions %}
              {% if action.path is not empty %}
                <div class="ecl-author__action">
                  <a href="{{ action.path }}" class="ecl-author__action-anchor">
                    {% if action.icon is not empty %}
                      {% include "@ecl-twig/ec-component-icon/ecl-icon.html.twig" with {
                        extra_classes: 'ecl-author-action__icon',
                        icon: {
                          path: icon_file_path,
                          name: action.icon.name,
                          size: 'xs',
                          type: action.icon.type,
                        },
                      } only %}
                    {% endif %}
                    {% if action.label is not empty %}
                      <span class="ecl-author__action-label">{{ action.label }}</span>
                    {% endif %}
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if image or name %}
      <div class="ecl-author__aside">
        {% if image is not empty %}
          {% if path is empty %}
            <div class="ecl-author__media-wrapper">
              {% include '@ecl-twig/ec-component-media-container/ecl-media-container.html.twig' with {
                extra_classes: 'ecl-author__media',
                description: false,
                sources: [],
                image: image.src,
                alt: image.alt,
              } only %}
            </div>
          {% else %}
            <a href="{{ path }}" class="ecl-author__media-wrapper">
              {% include '@ecl-twig/ec-component-media-container/ecl-media-container.html.twig' with {
                extra_classes: 'ecl-author__media',
                description: false,
                sources: [],
                image: image.src,
                alt: image.alt,
              } only %}
            </a>
          {% endif %}
        {% else %}
          {% if path is empty %}
            <div class="ecl-author__media-wrapper">
              <figure class="ecl-author__media ecl-author__media--empty">
                {% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with {
                  icon: {
                    size: 'm',
                    path: icon_file_path,
                    type: "custom",
                    name: "user"
                  }
                } only %}
              </figure>
            </div>
          {% else %}
            <a href="{{ path }}" class="ecl-author__media-wrapper">
              <figure class="ecl-author__media ecl-author__media--empty">
                {% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with {
                  icon: {
                    size: 'm',
                    path: icon_file_path,
                    type: "custom",
                    name: "user"
                  }
                } only %}
              </figure>
            </a>
          {% endif %}
        {% endif %}
        {% if updates %}
          {% include "@theme/patterns/components/update-indicator.html.twig" with updates|default({})|merge({
            extra_classes: 'ecl-author__update-indicator',
          }) %}
        {% endif %}
        {% if display_avatar_only and name %}
          <div class="ecl-author__name">{{ name }}</div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
