{% set title_element = title_element|default('h2') %}

<section class="ecl-my-notifications">
  <div class="ecl-my-notifications__header">
    <div>
      {% if title is not empty %}
      <{{ title_element }} class="ecl-teaser-overview__title">{{ title }}</{{ title_element }}>
    {% endif %}
    {% if action %}
      {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with {
        link: action.link|default({})|merge({
          type: 'standalone',
          icon_position: 'before',
        }),
        icon: icon_file_path ? {
          path: icon_file_path,
          name: action.icon.name|default('user'),
          type: action.icon.type|default('custom'),
          size: action.icon.size|default('s'),
        } : {},
        extra_classes: 'ecl-link ecl-link--default ecl-link--icon ecl-link--icon-before ecl-link--button ecl-link--button-secondary',
      } only %}
    {% endif %}
  </div>
  </div>

  <div class="ecl-my-notifications__body">
    <p>
      {{ body }}
    </p>


    {% if interests is not empty %}
      <section class="ecl-my-notifications__section ecl-my-notifications__tags-list">
        {% for item in interests %}
          {% include "@theme/patterns/compositions/list-tags.html.twig" with item %}
        {% endfor %}
      </section>
    {% endif %}

    {% if global_action %}
      <section class="ecl-my-notifications__section ecl-my-notifications__tags-list">
        <h4>{{ global_action.title }}</h4>
        {% include "@theme/patterns/components/toggle-switch.html.twig" with {
          name: global_action.title,
          state: global_action.state,
          url: global_action.url
        } %}
      </section>
    {% endif %}

    {% if table %}
      <div class="ecl-my-notifications-management"
           data-title="{{ table.title }}"
           data-url="{{ table.url }}"
           data-unsubscribe="{{ table.unsubscribe ?? false }}"
      ></div>
    {% endif %}
  </div>

</section>
