{% set title_element = title_element|default('h2') %}

<div class="ecl-teaser ecl-teaser--group {{ highlight.is_active ? 'ecl-teaser--is-highlighted' }} {{ extra_classes }}">
	{% if path is not empty %}
		<a href="{{ path }}">
		{% endif %}
		<figure class="ecl-teaser__image-wrapper">
			{% if image is not empty %}
				<img class="ecl-teaser__image" src="{{ image.src }}" alt="{{ image.alt }}"/>
			{% else %}
				{% if icon_file_path %}
					<div class="ecl-teaser__image-fallback-wrapper">
						{% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with {
              icon: {
                size: '3xl',
                path: icon_file_path,
                type: 'custom',
                name: 'group_circle',
              },
            } only %}
					</div>
				{% endif %}
			{% endif %}
		</figure>
		{% if path is not empty %}
		</a>
	{% endif %}
	<div class="ecl-teaser__main-wrapper">
		{% if type is not empty || group_state is not empty %}
			<div class="ecl-teaser__meta-header">
				{% include "@ecl-twig/ec-component-tag/ecl-tag.html.twig" with {
          tag: type|merge({
            type: type.path ? 'link' : 'display',
          }),
          extra_classes: type.extra_classes,
        } only %}
				{% include "@ecl-twig/ec-component-tag/ecl-tag.html.twig" with {
          tag: group_state|merge({
            type: 'display',
          }),
          extra_classes: group_state.extra_classes,
        } only %}
			</div>
		{% endif %}
		<div class="ecl-teaser__content-wrapper">
			<div class="ecl-teaser__content">
				<{{title_element}} class="ecl-teaser__title">
					{% if path is not empty %}
						<a href="{{ path }}">
							{% if title_before %}
								<span class="ecl-teaser__title-before">{{ title_before }}</span>
							{% endif %}

							<span class="ecl-teaser__title-overflow">
								<span>{{ title }}</span>
							</span>

							{% if title_after %}
								<span class="ecl-teaser__title-after">{{ title_after }}</span>
							{% endif %}
						</a>
					{% else %}
						{% if title_before %}
							<span class="ecl-teaser__title-before">{{ title_before }}</span>
						{% endif %}

						<span class="ecl-teaser__title-overflow">
							<span>{{ title }}</span>
						</span>

						{% if title_after %}
							<span class="ecl-teaser__title-after">{{ title_after }}</span>
						{% endif %}
					{% endif %}
				</{{title_element}}>

				{% if owner is not empty %}
					{% include "@theme/patterns/components/author.html.twig" with owner|default({})|merge({
            extra_classes: 'ecl-teaser__meta',
            size: 'tiny',
            author: owner.name,
            image: owner.image,
            icon_file_path: icon_file_path,
          }) only %}
				{% endif %}

				{% if timestamp is not empty %}
					{% include "@theme/patterns/components/timestamp.html.twig" with timestamp|default({})|merge({
            icon_file_path: icon_file_path
          }) only %}
				{% endif %}
			</div>
		</div>
		{% if stats is not empty %}
			<div class="ecl-teaser__meta-footer">
				<div class="ecl-teaser__stats">
					{% for stat in stats %}
						<div class="ecl-teaser__stat">
							{% if stat.icon is not empty and icon_file_path %}
								{% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with {
                  icon: {
                    size: 'xs',
                    path: icon_file_path,
                    type: stat.icon.type|default('branded'),
                    name: stat.icon.name,
                  },
                  extra_classes: 'ecl-teaser__stat-icon',
                } only %}
							{% endif %}
							<span class="ecl-teaser__stat-label">{{ stat.label }}</span>
							<span class="ecl-teaser__stat-value">{{ stat.value }}</span>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
</div>
