{% set contributor_label = contributor_label|default('Contributor') %}
{% set started_by_label = started_by_label|default('Started by') %}
{% set title_element = title_element|default('h3') %}

<div class="ecl-discussion-thread {{ author.image is empty ? 'ecl-discussion-thread--as-no-image' }} {{ highlight.is_active ? 'ecl-discussion-thread--is-highlighted' }} {{ extra_classes|default('') }}">
  <div class="ecl-discussion-thread__main">
    {% if author.image %}
      <div class="ecl-discussion-thread__image-wrapper">
        {% include "@theme/patterns/components/author.html.twig" with {
          image: author.image,
          name: author.name,
          size: 'medium',
          extra_classes: 'ecl-author--is-minimal ecl-discussion-thread__author-image',
        } only %}
      </div>
    {% endif %}
    <div class="ecl-discussion-thread__content">
      {% if type or highlight %}
        <div class="ecl-discussion-thread__toolbar">
          {% if type is not empty %}
            <div class="ecl-discussion-thread__type">
              {% if type.icon and icon_file_path %}
                {% include "@ecl-twig/ec-component-icon/ecl-icon.html.twig" with {
                  icon: type.icon|merge({
                    path: icon_file_path,
                    size: 's',
                  }),
                  extra_classes: 'ecl-discussion-thread__type-icon',
                } only %}
              {% endif %}
              <span class="ecl-discussion-thread__type-label">{{ type.label }}</span>
            </div>
          {% endif %}
          {% if highlight %}
            <button class="ecl-discussion-thread__highlight">
              {% if icon_file_path %}
                {% include "@ecl-twig/ec-component-icon/ecl-icon.html.twig" with {
                  icon: {
                    path: icon_file_path,
                    name: 'star_circle',
                    size: 'm',
                    type: 'custom',
                  },
                  extra_classes: 'ecl-discussion-thread__highlight-icon ',
                } only %}
              {% endif %}
              <span class="ecl-discussion-thread__highlight-label">
                {{ highlight.label|default('Highlight') }}
              </span>
            </button>
          {% endif %}
        </div>
      {% endif %}
      <div class="ecl-discussion-thread__header">
        {% if tags is not empty %}
          <div class="ecl-discussion-thread__tags">
            <div class="ecl-discussion-thread__tags-items">
              {% for tag in tags %}
                <div class="ecl-discussion-thread__tags-item">
                  {% include "@ecl-twig/ec-component-tag/ecl-tag.html.twig" with {
                    tag: tag|merge({
                      type: tag.path ? "link" : "display"
                    }),
                    extra_classes: 'ecl-discussion-thread__tag',
                  } only %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if members is not empty %}
          {% include "@theme/patterns/components/author-collection.html.twig" with members|default({})|merge({
            extra_classes: 'ecl-discussion-thread__members',
          }) %}
        {% endif %}
      </div>

      <{{ title_element }} class="ecl-discussion-thread__title">
        {% if path %}
          {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with {
            link: {
              label: title,
              path: path,
              type: 'standalone',
            }
          } only %}
        {% else %}
          {{ title }}
        {% endif %}
      </{{ title_element }}>
      {% if description %}
        <p class="ecl-discussion-thread__description">{{ description | raw}}</p>
      {% endif %}
    </div>
  </div>
  {% if author or timestamp or stats %}
    <div class="ecl-discussion-thread__footer">
      <div class="ecl-discussion-thread__meta">
        {% if author.name %}
          <div class="ecl-discussion-thread__author">
            <span class="ecl-discussion-thread__started-by-label">
              {{ started_by_label }}
            </span>
            {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with {
              link: {
                label: author.name,
                path: author.path,
                type: 'standalone',
              },
              extra_classes: 'ecl-discussion-thread__author'
            } only %}</div>
        {% endif %}

        {% if timestamp %}
          {% include "@theme/patterns/components/timestamp.html.twig" with timestamp|default({})|merge({
            icon_file_path: icon_file_path,
            extra_classes: 'ecl-discussion-thread__timestamp ecl-timestamp--meta' ~ timestamp.extra_classes|default(''),
          }) only %}
        {% endif %}

        {% if stats is not empty %}
          <div class="ecl-discussion-thread__stats">
            <div class="ecl-discussion-thread__stats-items">
              {% for stat in stats %}
                <div class="ecl-discussion-thread__stats-item">
                  {% if stat.icon is not empty and icon_file_path %}
                    {% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with stat|default({})|merge({
                      icon: icon_file_path ? stat.icon|default({})|merge({
                        size: 'xs',
                        path: icon_file_path,
                      }) : {},
                      extra_classes: 'ecl-discussion-thread__stats-item-icon',
                    }) only %}
                  {% endif %}
                  <span class="ecl-discussion-thread__stats-item-label">{{ stat.label }}</span>
                  <span class="ecl-discussion-thread__stats-item-value">{{ stat.value }}</span>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if featured %}
    <div class="ecl-discussion-thread__featured-items">
      {% include "@theme/patterns/compositions/comment/comment-thread.html.twig" with featured|default({})|merge({
        icon_file_path: icon_file_path,
        extra_classes: 'ecl-discussion-thread__comment-thread ' ~ featured.extra_classes|default('')
      }) %}
    </div>
  {% endif %}
</div>
