<div
  class="hero-paragraph {{ extra_classes }}"
  data-hero-bg="{{ image }}"
  data-hero-title="{{ paragraph.field_banner.entity.title.value }}"
  data-hero-body="{{ paragraph.field_banner.entity.body.value }}"
  data-hero-link-label="{{ paragraph.field_banner.entity.field_cta_link.0.title }}"
  data-hero-link-url="{{ paragraph.field_banner.entity.field_cta_link.0.url }}"
  data-hero-bg-color="{{ paragraph.field_banner.entity.field_background_color.value }}"
></div>
