{% set title_element = title_element|default('h1') %}

<section class="ecl-section-wrapper ecl-editorial-header {{ extra_classes }}">
  <div class="ecl-container">
    {% if parent is not empty %}
      {% set _parent_icon = {} %}

      {% if icon_file_path %}
        {% set _parent_icon = {
          path: icon_file_path,
          type: 'ui',
          name: 'rounded-arrow',
          transform: 'rotate-270',
          size: 'xs',
        } %}
      {% endif %}

      {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with parent|default({})|merge({
        link: parent.link|merge({
          type: 'standalone',
          icon_position: 'before',
        }),
        extra_classes: 'ecl-editorial-header__parent-link ecl-link--call-to-action ' ~ parent.extra_classes|default(''),
        icon: _parent_icon,
      }) only %}
    {% endif %}

    <div class="ecl-editorial-header__wrapper">
      {% if image is not empty %}
        <div class="ecl-editorial-header__aside">
          <figure class="ecl-editorial-header__image-wrapper">
            <img class="ecl-editorial-header__image" src="{{ image.src }}" alt="{{ image.alt }}" />
          </figure>
        </div>
      {% endif %}
      <div class="ecl-editorial-header__main">
        {% include "@theme/patterns/components/meta-list.html.twig" with {
          extra_classes: "ecl-editorial-header__meta ecl-meta-list--large",
          items: meta
        } only %}

        {% if tags is not empty %}
          <div class="ecl-editorial-header__tags-wrapper">
            <div class="ecl-editorial-header__tags">
              {% for tag in tags %}
                <div class="ecl-editorial-header__tag">
                  {% include '@ecl-twig/ec-component-tag/ecl-tag.html.twig' with tag|default({})|merge({
                    tag: tag.tag|merge({
                      type: 'display'
                    })
                  }) only %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

        {% if actions is not empty %}
          <div class="ecl-editorial-header__actions">
            {% for action in actions %}
              <div class="ecl-editorial-header__action">
                {% set _icon = {} %}

                {% if icon_file_path %}
                  {% set _icon = {
                    path: icon_file_path,
                    type: action.icon.type,
                    name: action.icon.name,
                    size: 'xs',
                  } %}
                {% endif %}

                {% if action.items %}
                  {% include "@theme/patterns/compositions/collapsible-options.html.twig" with {
                    extra_classes: 'ecl-collapsible-options--aligns-from-right',
                    collapse_label: action.label|default(action.link.label),
                    icon_file_path: icon_file_path,
                    items: action.items,
                  } only %}
                {% else %}
                  {% set _action = {} %}

                  {% if action is not empty %}

                    {% if action.link %}
                      {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with action|default({})|merge({
                        link: action.link|merge({
                          icon_position: 'before',
                        }),
                        icon: icon_file_path ? action.icon|default({})|merge({
                          path: icon_file_path,
                          size: 's',
                        }) : {},
                        extra_classes: loop.first ? 'ecl-link--button ecl-link--button-primary' : 'ecl-link--button ecl-link--button-secondary',
                      }) only %}
                    {% else %}
                      {% include "@ecl-twig/ec-component-button/ecl-button.html.twig" with action|default({})|merge({
                        icon_position: 'before',
                        variant: loop.first ? 'primary' : 'secondary',
                        icon: icon_file_path ? action.icon|default({})|merge({
                          path: icon_file_path,
                          size: 's',
                        }) : {},
                      }) %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% if title or description %}
          <div class="ecl-editorial-header__content">
            {% if title is not empty %}
              <{{ title_element }} class="ecl-editorial-header__title">{{ title }}</{{ title_element }}>
            {% endif %}

            {% if description %}
              <div class="ecl-editorial-header__description">{{ description }}</div>
            {% endif %}

            {% if stats is not empty %}
              <div class="ecl-editorial-header__stats-wrapper">
                <div class="ecl-editorial-header__stats">
                  {% for stat in stats %}
                    <div class="ecl-editorial-header__stat">
                      {% if stat.path %}
                        <a href="{{ stat.path }}" class="ecl-editorial-header__stat-link">
                      {% endif %}
                      {% if stat.icon is not empty and icon_file_path %}
                        {% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with {
                          icon: {
                            size: 'xs',
                            path: icon_file_path,
                            type: stat.icon.type|default('branded'),
                            name: stat.icon.name,
                          },
                          extra_classes: 'ecl-editorial-header__stat-icon',
                        } only %}
                      {% endif %}
                      <span class="ecl-editorial-header__stat-label">{{ stat.label }}</span>
                      <span class="ecl-editorial-header__stat-value">{{ stat.value }}</span>
                      {% if stat.updates %}
                        {% include "@theme/patterns/components/update-indicator.html.twig" with stat.updates|default({})|merge({
                          extra_classes: 'ecl-editorial-header__update-indicator ecl-update-indicator--is-small' ~ stat.extra_classes|default(''),
                        }) %}
                      {% endif %}
                      {% if stat.path %}
                        </a>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
