{% set title_element = title_element|default('h3') %}

{% if items is not empty %}
<div class="ecl-featured-list {{ is_collapsible ? 'ecl-featured-list--is-collapsible' }} {{ grid ? 'ecl-featured-list--has-grid-layout' }} {{ extra_classes }} ecl-featured-list--contributors">
    {% if title is not empty %}
      {% if title is not empty %}
        <{{ title_element }} class="ecl-editorial-article__aside__title">{{ title }}</{{ title_element }}>
      {% endif %}
    {% endif %}

    <div class="ecl-featured-list__items-wrapper">
      <div class="ecl-featured-list__items">
        {% for item in items %}
          <div class="ecl-featured-list__item">
            {% if item.content %}
              {{ item.content }}
            {% else %}
              {% include "@theme/patterns/components/author.html.twig" with item|default({})|merge({
                size: 'medium',
                display_avatar_only: grid|default(false),
              }) only %}
            {% endif %}
          </div>
        {% endfor %}
        {% if is_collapsible %}
          <div class="ecl-featured-list__item ecl-featured-list__item--expand">
            {% include "@ecl-twig/ec-component-button/ecl-button.html.twig" with {
              icon_position: 'after',
              icon: icon_file_path ? {
                path: icon_file_path,
                type: 'ui',
                name: 'rounded-arrow',
                transform: 'rotate-90',
                size: '2xs',
              } : {},
              label: collapse_label|default('Show all'),
              variant: 'ghost',
              extra_classes: 'ecl-featured-list__expand'
            } %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
