{% set title_element = title_element|default('h2') %}

<section class="ecl-featured-overview {{ extra_classes }}">
  <div class="ecl-container">
    <div class="ecl-featured-overview__header">
      {% if block('header_before') is defined %}
        <div class="ecl-featured-overview__header-before">{{ block('header_before') }}</div>
      {% endif %}
      <div class="ecl-featured-overview__header-main">
        {% if title is not empty %}
          <{{ title_element }} class="ecl-featured-overview__title">{{ title }}</{{ title_element }}>
        {% endif %}

        {% if description is not empty %}
          <div class="ecl-featured-overview__description">
            {{ description }}
          </div>
        {% endif %}
      </div>
      {% if block('header_after') is defined %}
        <div class="ecl-featured-overview__header-after">{{ block('header_after') }}</div>
      {% endif %}
    </div>

    <div class="ecl-featured-overview__items">
      {% for item in items %}
        <div class="ecl-featured-overview__item">
          {{ item.content }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
