{% import "@theme/patterns/core/snippets.twig" as snippets %}

<header class="ecl-global-header">
  <div class="ecl-container">
    <div class="ecl-global-header__wrapper">
      {% if logo %}
        <div class="ecl-global-header__logo">
          {% if logo.href %}
            <a class="ecl-global-header__logo-link" href="{{ logo.href }}">
          {% endif %}

          {% if not logo.src_mobile or not logo.src_desktop %}
            {% if src %}
              <img class="ecl-global-header__logo-image" src="{{ logo.src }}" />
            {% elseif logo.src_mobile %}
              <img class="ecl-global-header__logo-image" src="{{ logo.src_mobile }}" />
            {% elseif logo.src_desktop %}
              <img class="ecl-global-header__logo-image" src="{{ logo.src_desktop }}" />
            {% endif %}
          {% else %}
            <img class="ecl-global-header__logo-image ecl-global-header__logo-image--desktop" src="{{ logo.src_desktop }}" />
            <img class="ecl-global-header__logo-image ecl-global-header__logo-mobile" src="{{ logo.src_mobile }}" />
          {% endif %}
          <span class="ecl-global-header__logo-title">{{ title }}</span>

          {% if logo.href %}
            </a>
          {% endif %}
        </div>
      {% endif %}

      {% if language_selector is not empty %}
        <div class="ecl-global-header__auth-wrapper">
          <a class="ecl-global-header__language-selector ecl-link" href="{{ language_selector.href }}" aria-label="{{ language_selector.name }}"
            {% if language_selector.overlay is not empty %}
              aria-controls="global-header-language-list"
            {% endif %}
          >
            <span class="ecl-global-header__language-selector-icon-wrapper">
              {% if icon_file_path %}
                {% include "@ecl-twig/ec-component-icon/ecl-icon.html.twig" with {
                  icon: {
                    path: icon_file_path,
                    name: 'language',
                    type: 'general',
                  },
                  extra_classes: 'ecl-global-header__language-selector-icon'
                } %}
              {% endif %}
              <span class="ecl-global-header__language-selector-icon-wrapper-label">{{ language_selector.code|upper }}</span>
            </span>
            {{ language_selector.name ~ " (" ~ language_selector.code|upper ~ ")" }}
          </a>
        </div>
      {% endif %}

      <div class="ecl-global-header__auth-wrapper">
        {% if user %}

        {% elseif login %}
          {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with {
            link: login.link|merge({
              icon_position: 'before',
              type: 'standalone',
            }),
            icon: icon_file_path ? {
              path: icon_file_path,
              name: 'user_circle',
              type: 'custom',
              size: 'l',
            } : {},
            extra_classes: 'ecl-global-header__login-link',
          } %}
        {% endif %}
      </div>
    </div>
  </div>

  {% if language_selector.overlay is not empty %}
    {% include '@ecl-twig/ec-component-language-list/ecl-language-list.html.twig' with language_selector.overlay|default({})|merge({
      overlay: true,
      icon_path: icon_file_path,
      extra_classes: 'ecl-global-header__language-list',
      extra_attributes: [
        {
          name: 'id',
          value: language_selector.extra_attributes['global-header-language-list']
        },
        {
          name: 'hidden',
        }
      ]
    }) %}
  {% endif %}
</header>
