{% import "@theme/patterns/core/snippets.twig" as snippets %}

<header class="ecl-global-header">
  <div class="ecl-container">
    <div class="ecl-global-header__wrapper">
      <div class="ecl-global-header__logo-wrapper">
        {% if logo %}
        <div class="ecl-global-header__logo">
          {% if logo.href %}
            <a class="ecl-global-header__logo-link" href="{{ logo.href }}">
          {% endif %}

          {% if not logo.src_mobile or not logo.src_desktop %}
            {% if src %}
              <img class="ecl-global-header__logo-image" src="{{ logo.src }}" />
            {% elseif logo.src_mobile %}
              <img class="ecl-global-header__logo-image" src="{{ logo.src_mobile }}" />
            {% elseif logo.src_desktop %}
              <img class="ecl-global-header__logo-image" src="{{ logo.src_desktop }}" />
            {% endif %}
          {% else %}
            <picture>
              <source media="(max-width: 767px)" srcset="{{ logo.src_mobile }}">
              <source media="(min-width: 768px)" srcset="{{ logo.src_desktop }}">
              <img class="ecl-global-header__logo-image" src="{{ logo.src_desktop }}" alt="European Commission">
            </picture>
          {% endif %}
          <span class="ecl-global-header__logo-title"></span>
          {% if logo.href %}
            </a>
          {% endif %}
        </div>
      {% endif %}

      <span class="ecl-global-header__logo-baseline"><b>EIC Community</b></span>

      </div>
      {% if language_selector is not empty %}
        <div class="ecl-global-header__language-selector-wrapper">
          {% include "@theme/patterns/compositions/language-selector.html.twig" with language_selector|default({}) %}
        </div>
      {% endif %}


     {{ account_block }}

    </div>
  </div>
</header>
