{% set title_element = title_element|default('h1') %}

<div class="ecl-overview-header{{ image is not empty ? ' ecl-overview-header--has-image' }} {{ extra_classes }}">
  {% if image is not empty %}
    <figure class="ecl-overview-header__image-wrapper">
      <img class="ecl-overview-header__image" src="{{ image.src }}" alt="{{ image.alt }}" />
    </figure>
  {% endif %}
  <div class="ecl-container">
    <div class="ecl-overview-header__content">
      <div class="ecl-overview-header__main">
        <{{ title_element }} class="ecl-overview-header__title">
          {{ title }}
        </{{ title_element }}>
      </div>
    {% if actions is not empty %}
      <div class="ecl-editorial-header__actions">
        {% for action in actions %}
          <div class="ecl-editorial-header__action">
            {% set trigger = '' %}

            {% if action.items %}
              {% set trigger %}
                {% include "@ecl-twig/ec-component-button/ecl-button.html.twig" with {
                  extra_classes: action.extra_classes|default('') ~ 'ecl-button--has-icon-layout',
                  icon: icon_file_path ? action.icon|default({})|merge({
                    path: icon_file_path,
                    size: 's',
                  }),
                  label: action.label|default(action.link.label),
                } %}
              {% endset %}

              {% include "@theme/patterns/compositions/collapsible-options.html.twig" with {
                extra_classes: 'ecl-collapsible-options--aligns-from-right ecl-collapsible-options--actions ' ~ action.extra_classes|default(''),
                collapse_label: action.label|default(action.link.label),
                icon: action.icon|default(''),
                icon_file_path: icon_file_path,
                items: action.items,
                trigger: action.is_compact and icon_file_path ? trigger : NULL,
              } only %}
            {% elseif action.content is defined %}
              {{ action.content }}
            {% else %}
              {% if action is not empty %}
                {% if action.link %}
                  {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with action|default({})|merge({
                    link: action.link|default({})|merge({
                      icon_position: 'before',
                    }),
                    icon: icon_file_path ? action.icon|default({})|merge({
                      path: icon_file_path,
                      size: 's',
                    }) : {},
                    extra_classes: (action.type == 'cta' ? 'ecl-link ecl-link--cta' : 'ecl-link--button ecl-link--' ~ (action.variant == 'secondary' ? 'button-secondary' : 'button-primary')) ~ (action.is_compact ? ' ecl-link--button-has-icon-layout ecl-link--action'),
                  }) only %}
                {% elseif action is not empty %}
                  {% if action.link %}
                    {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with action|default({})|merge({
                      link: action.link|merge({
                        icon_position: 'before',
                      }),
                      icon: icon_file_path ? action.icon|default({})|merge({
                        path: icon_file_path,
                        size: 's',
                      }) : {},
                      extra_classes: (actions[0].items and not loop.first) or loop.first ? 'ecl-link--button ecl-link--button-primary' : 'ecl-link--button ecl-link--button-secondary' ~ (action.is_compact ? 'ecl-link--button-has-icon-layout'),
                    }) only %}
                  {% else %}
                    {% include "@ecl-twig/ec-component-button/ecl-button.html.twig" with action|default({})|merge({
                      icon_position: 'before',
                      extra_classes: action.is_compact ? 'ecl-button--has-icon-layout',
                      variant: (actions[0].items and not loop.first) or loop.first or (action.variant and action.variant == 'primary')  ? 'primary' : 'secondary',
                      icon: icon_file_path ? action.icon|default({})|merge({
                        path: icon_file_path,
                        size: 's',
                      }) : {},
                    }) only %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </div>
</div>
