{% set title_element = title_element|default('h2') %}

<div class="ecl-teaser-overview {{ extra_classes }}">
  {% if title is not empty %}
    <{{ title_element }} class="ecl-teaser-overview__title">{{ title }}</{{ title_element }}>
  {% endif %}

  {% if my_items is not empty %}

    <div class="ecl-accordion" data-ecl-auto-init="Accordion" data-ecl-accordion="">
      <div class="ecl-accordion__item">
        <h3 class="ecl-accordion__title">
          <button type="button" class="ecl-accordion__toggle" data-ecl-accordion-toggle="" data-ecl-label-expanded="Close" data-ecl-label-collapsed="Open" aria-controls="accordion-example-content">
            <span class="ecl-accordion__toggle-flex">
              <span class="ecl-accordion__toggle-title">
                Your company
              </span>
              <svg class="ecl-icon ecl-icon--m ecl-accordion__toggle-icon" focusable="false" aria-hidden="true" data-ecl-accordion-icon="">
                <use xlink:href="images/sprite/custom/sprites/custom.svg#custom--arrow"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="ecl-accordion__content" hidden="" id="accordion-example-content" role="region">
          <div class="ecl-teaser-overview__items">
            {% for item in my_items %}
              <div class="ecl-teaser-overview__item {{ item.extra_classes }}">
                {{ item.content }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  {% endif %}

  {% if items is not empty %}
    <div class="ecl-teaser-overview__items">
      {% for item in items %}
        <div class="ecl-teaser-overview__item {{ item.extra_classes }}">
          {{ item.content }}
        </div>
      {% endfor %}
    </div>
    {% if amount_options or sort_options or active_filters or interface_options %}
      <section class="ecl-teaser-overview__options">
        {% if amount_options or sort_options %}
          <div class="ecl-teaser-overview__options-row">
            {% if amount_options is not empty %}
              <div class="ecl-teaser-overview__amount-options">
                {% include '@ecl-twig/ec-component-select/ecl-select.html.twig' with amount_options|default({})|without('items', 'title')|merge({
                  extra_classes: 'ecl-teaser-overview__amount-options-items',
                  label: amount_options.title,
                  icon_path: icon_file_path,
                  options: amount_options.items,
                }) only %}
                {% if amount_options.total %}
                  <span class="ecl-teaser-overview__amount-options-total-wrapper">
                    {{ amount_options.total_label|default('of') }}&nbsp;<span class="ecl-teaser-overview__amount-options-total">{{ amount_options.total }}</span>
                  </span>
                {% endif %}
              </div>
            {% endif %}

            {% if sort_options is not empty %}
              <div class="ecl-teaser-overview__sort-options">
                {% include '@ecl-twig/ec-component-select/ecl-select.html.twig' with amount_options|default({})|without('items', 'title')|merge({
                  extra_classes: 'ecl-teaser-overview__amount-options-items',
                  label: sort_options.title,
                  icon_path: icon_file_path,
                  options: sort_options.items,
                }) only %}
              </div>
            {% endif %}
          </div>
        {% endif %}

        {% if active_filters or interface_options %}
          <div class="ecl-teaser-overview__options-row">
            {% if active_filters is not empty %}
              <div class="ecl-teaser-overview__active-filters">
                <span class="ecl-teaser-overview__active-filters-title">{{ active_filters.title|default('Active filters') }}</span>

                <div class="ecl-teaser-overview__active-filters-items">
                  {% for item in active_filters.items %}
                    <div class="ecl-teaser-overview__active-filters-item">
                      {% include "@ecl-twig/ec-component-tag/ecl-tag.html.twig" with {
                        tag: {
                          type: 'removable',
                          label: item.label
                        },
                        default_icon_path: icon_file_path,
                        extra_classes: 'ecl-teaser-overview__active-filters-tag',
                        extra_attributes: [
                          {
                            name: 'data-value',
                            value: item.value
                          }
                        ]
                      } only %}
                    </div>
                  {% endfor %}
                </div>
                {% if active_filters.items %}
                  {% include "@ecl-twig/ec-component-button/ecl-button.html.twig" with {
                    icon: {
                      path: icon_file_path,
                      name: 'clear',
                      type: 'custom',
                      size: '2xs',
                    },
                    variant: 'ghost',
                    extra_classes: 'ecl-teaser-overview__active-filters-clear-all',
                    label: active_filters_clear_all_label|default('Clear all')
                  } only %}
                {% endif %}
              </div>
            {% endif %}
            {% if interface_options is not empty %}
              <div class="ecl-teaser-overview__interface-options">
                <span class="ecl-teaser-overview__interface-options-title">{{ interface_options.title|default('View as') }}</span>
                <div class="ecl-teaser-overview__interface-options-items">
                  {% for item in interface_options.items %}
                    {% set _icon = {} %}

                    {% if icon_file_path and item.icon %}
                      {% set _icon = item.icon|merge({
                        path: icon_file_path,
                        size: 'xs',
                      }) %}
                    {% endif %}

                    {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with {
                      icon: _icon,
                      link: {
                        type: 'standalone',
                        label: item.label,
                        path: item.path,
                        icon_position: 'before',
                      }
                    } only %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </section>
    {% endif %}

    {% if call_to_action %}
      <footer class="ecl-teaser-overview__footer">
        {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with {
          link: call_to_action.link|default({})|merge({
            type: 'standalone',
            icon_position: 'after',
          }),
          icon: icon_file_path ? {
            path: icon_file_path,
            name: call_to_action.icon.name|default('rounded-arrow'),
            type: call_to_action.icon.type|default('ui'),
            size: call_to_action.icon.size|default('xs'),
            transform: call_to_action.icon.transform|default('rotate-90')
          } : {},
          extra_classes: 'ecl-teaser-overview__call-to-action ecl-link--button ecl-link--button-ghost',
        } only %}
      </footer>
    {% endif %}

  {% elseif no_items_available %}
    {% if no_items_available_header %}
      <h3 class="ecl-teaser-overview__no-content-header">{{ no_items_available_header }}</h3>
    {% endif %}
    <p clas="ecl-teaser-overview__no-content-message">{{ no_items_available }}</p>
  {% endif %}
</div>
