{% set title_element = title_element|default('h2') %}

<div class="ecl-text-block {{ extra_classes }}">
  <div class="{{ container_classes }}">
    <div class="ecl-text-block__wrapper">
      <section class="ecl-text-block__content">
        {% if title is not empty %}
          <{{ title_element }} class="ecl-text-block__title">{{ title }}</{{ title_element }}>
        {% endif %}
        {% if items is not empty %}
          <div class="ecl-text-block__items">
            {% for item in items %}
              <div class="ecl-text-block__item">
                <div class="ecl-editable-wrapper">
                  {{ item.content }}
                </div>

                {% if item.call_to_action is not empty %}
                  <div class="ecl-text-block__cta">
                    {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with item.call_to_action|default({})|merge({
                      extra_classes: item.call_to_action.extra_classes|default('ecl-link--button ecl-link--button-call'),
                    }) only %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </section>
      {% if media is not empty %}
        <section class="ecl-text-block__media">
          {% include "@theme/patterns/compositions/media-wrapper.html.twig" with {
            description: false,
            sources: media.sources,
            tracks: media.tracks,
            image: media.image,
            alt: media.alt,
            icon_file_path: icon_file_path,
          } only %}
        </section>
      {% endif %}
    </div>
  </div>
</div>
