{% set layout = {
  extra_classes: 'ecl-base-layout--is-fluid'
} %}

{% set site_header = {
  icon_file_path: eic_icon_path,
  logo: {
    title: 'European Commission'|t,
    alt: 'European Commission logo'|t,
    path: url('<front>'),
    src_desktop: eic_logo_path ~ '/logo--' ~ current_language_id|to_internal_language_id ~ '.svg',
  },
  search_toggle: {
    label: 'Search',
    href: '#',
  },
  search_form: {
    text_input: {
      id: 'input-search',
      name: 'search'|t,
    },
    button: {
      label: 'Search'|t,
    },
    extra_attributes: [],
  },
}
%}

{% set sidebar = page.sidebar %}
{% set page = page|merge({'sidebar': null}) %}

{% extends "@theme/patterns/compositions/group/group.full.html.twig" %}

{% block content %}
  <div {{ attributes }}>
    {{ title_prefix }}
    {{ title_suffix }}
    <section class="ecl-section-wrapper">
      <div class="ecl-editorial-article ecl-editorial-article--is-collapsible ecl-editorial-article--has-reversed-layout">
        <div class="ecl-container">
          <div class="ecl-editorial-article__wrapper">
            {{ page.content }}
            <aside class="ecl-editorial-article__aside">
              <div class="ecl-editorial-article__aside-wrapper">
                {{ sidebar }}
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block breadcrumbs %}
  {{ page.breadcrumbs }}
{% endblock %}

{% block page_header %}
  {{ page.page_header }}
{% endblock %}
