{% set item_title_element = item_title_element|default('span') %}

<div class="ecl-extended-list__item {{ not items or items|length == 0 ? 'ecl-extended-list__item--has-full-layout' }} {{ extra_classes }}" {{ id ? 'id=' ~ id }}>
  {% if title %}
    <{{ item_title_element }} class="ecl-extended-list__item-title">
      {% if path is not empty %}
        <a href="{{ path }}" class="ecl-extended-list__item-link">
          {{ title}}
        </a>
      {% else %}
        {{ title}}
      {% endif %}
    </{{ item_title_element }}>
  {% endif %}

  {% if content is not empty %}
    <div class="ecl-extended-list__item-content ecl-editable-wrapper">
      {{ content | raw }}
    </div>
  {% endif %}

  {% if items %}
    {% include "@theme/patterns/compositions/extended-list/extended-list-items.html.twig" with {
      group: group,
      items: items
    } only %}
  {% endif %}
</div>
