{% set title_element = title_element|default('h2') %}

<div class="ecl-teaser ecl-teaser--story">
  {% if image is not empty %}
    <figure class="ecl-teaser__image-wrapper">
      <img class="ecl-teaser__image" src="{{ image.src }}" alt="{{ image.alt }}" />
    </figure>
  {% endif %}
  <div class="ecl-teaser__main-wrapper">
    <div class="ecl-teaser__meta-header">
      {% if type is not empty %}
        <div class="ecl-teaser__meta-column">
          {% if icon_file_path and icon %}
            <div class="ecl-teaser__type">
              {% include "@ecl-twig/ec-component-icon/ecl-icon.html.twig" with {
                extra_classes: 'ecl-teaser__type-icon',
                icon: {
                  path: icon_file_path,
                  name: icon.name,
                  size: 'l',
                  type: icon.type,
                },
                extra_attributes: {
                  'aria-hidden': 'true',
                  'focusable': 'false'
                }
              } only %}
              {{ type }}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if timestamp %}
        <div class="ecl-teaser__meta-column">
          {% include "@theme/patterns/components/timestamp.html.twig" with timestamp|default({})|merge({
            icon_file_path: icon_file_path,
            extra_classes: "ecl-timestamp--meta",
          }) only %}
        </div>
      {% endif %}
    </div>

    <div class="ecl-teaser__content">
      <{{ title_element }} class="ecl-teaser__title">{{ title }}</{{ title_element }}>

      {% if description is not empty %}
        <p class="ecl-teaser__description">{{ description }}</p>
      {% endif %}
    </div>

    <div class="ecl-teaser__meta-footer">
      {% include "@theme/patterns/components/author.html.twig" with author|default({}) only %}
      {% if stats is not empty %}
        <div class="ecl-teaser__stats">
          {% for stat in stats %}
            <div class="ecl-teaser__stat">
              {% if stat.icon is not empty and icon_file_path %}
                {% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with {
                  icon: {
                    size: 'xs',
                    path: icon_file_path,
                    type: stat.icon.type|default('branded'),
                    name: stat.icon.name,
                  },
                  extra_classes: 'ecl-teaser__stat-icon',
                  extra_attributes: {
                    'aria-hidden': 'true',
                    'focusable': 'false'
                  }
                } only %}
              {% endif %}
              <span class="ecl-teaser__stat-label">{{ stat.label }}</span>
              <span class="ecl-teaser__stat-value">{{ stat.value }}</span>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
