{% set title_element = title_element|default('h2') %}

<div class="ecl-teaser ecl-teaser--story {{ highlight.is_active ? 'ecl-teaser--is-highlighted' }} {{ extra_classes }}">
  {% if image is not empty %}
  <a href="{{ path }}">
    <figure class="ecl-teaser__image-wrapper">
      <img class="ecl-teaser__image" src="{{ image.src }}" alt="{{ image.alt }}" />
    </figure>
  </a>
  {% endif %}
  <div class="ecl-teaser__main-wrapper">
    <div class="ecl-teaser__meta-header">
      {% if type is not empty %}
        <div class="ecl-teaser__meta-column">
          {% include "@theme/patterns/components/content-type-indicator.html.twig" with type|default({})|merge({
            extra_classes: 'ecl-teaser__type',
            icon_file_path: icon_file_path,
            icon: type.icon|merge({
              'size': 's'
            })
          }) only %}
        </div>
      {% endif %}

      {% if timestamp %}
        <div class="ecl-teaser__meta-column ecl-teaser__meta-column--right">
          {% include "@theme/patterns/components/timestamp.html.twig" with timestamp|default({})|merge({
            icon_file_path: icon_file_path,
          }) only %}
        </div>
      {% endif %}
    </div>

    <div class="ecl-teaser__content">
      <{{ title_element }} class="ecl-teaser__title">
        {% if path is not empty %}
          <a href="{{ path }}">
            {% if title_before %}
              <span class="ecl-teaser__title-before">{{ title_before }}</span>
            {% endif %}

            <span class="ecl-teaser__title-overflow"><span>{{ title }}</span></span>

            {% if title_after %}
              <span class="ecl-teaser__title-after">{{ title_after }}</span>
            {% endif %}
          </a>
        {% else %}
          {% if title_before %}
            <span class="ecl-teaser__title-before">{{ title_before }}</span>
          {% endif %}

          <span class="ecl-teaser__title-overflow"><span>{{ title }}</span></span>

          {% if title_after %}
            <span class="ecl-teaser__title-after">{{ title_after }}</span>
          {% endif %}
        {% endif %}
      </{{ title_element }}>

      {% if description is not empty %}
        <p class="ecl-teaser__description">{{ description }}</p>
      {% endif %}
    </div>

    <div class="ecl-teaser__meta-footer">
      {% include "@theme/patterns/components/author.html.twig" with author|default({})|merge({
        extra_classes: 'ecl-teaser__author'
      }) only %}
      {% if stats is not empty %}
        <div class="ecl-teaser__stats">
          {% for stat in stats %}
            <div class="ecl-teaser__stat">
              {% if stat.icon is not empty and icon_file_path %}
                {% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with {
                  icon: {
                    size: 'xs',
                    path: icon_file_path,
                    type: stat.icon.type|default('branded'),
                    name: stat.icon.name,
                  },
                  extra_classes: 'ecl-teaser__stat-icon',
                } only %}
              {% endif %}
              <span class="ecl-teaser__stat-label">{{ stat.label }}</span>
              <span class="ecl-teaser__stat-value">{{ stat.value }}</span>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
