{% import "@theme/patterns/core/snippets.twig" as snippets %}

<div class="ecl-comment-form {{ extra_classes }}">
  {% if author %}
    <div class="ecl-comment-form__author">
      {% include "@theme/patterns/components/author.html.twig" with author|default({})|without('description', 'actions', 'updates')|merge({
        extra_classes: 'ecl-author--hide-info' ~ author.extra_classes|default('')
      }) only %}
    </div>
  {% endif %}
  <div class="ecl-comment-form__content">
    <div class="ecl-comment-form__main">
      <form{{ attributes}} class=" {{form.extra_classes }}" {{ snippets.attr(form.extra_attributes) }}>
        {{ element.form_build_id }}
        {{ element.form_id }}
        {{ element.form_token }}
        <div class="ecl-form-group">
          {{ children }}
        </div>
      </form>
    </div>
  </div>
</div>
