{% set action_attributes = [
  {
    name: 'data-comment-id',
    value: comment_id
  }
] %}
<div class="ecl-comment {{ comment_origin ? 'ecl-comment--is-reply' }} {{ extra_classes }}" id="{{ comment_id }}">
  {% if author %}
    <div class="ecl-comment__author">
      {% include "@theme/patterns/components/author.html.twig" with author|default({})|without('description', 'actions', 'updates')|merge({
        extra_classes: 'ecl-author--hide-info' ~ author.extra_classes|default('')
      }) %}
    </div>
  {% endif %}

  <div class="ecl-comment__content">
    <header class="ecl-comment__header">
      <div class="ecl-comment__header-main">

        <div class="ecl-comment__author-info">
          {% if author %}
            {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with {
              link: {
                label: author.name,
                path: author.path,
                icon_position: 'before',
                type: 'standalone',
              },
              icon: is_owner ? {
                path: icon_file_path,
                type: 'general',
                size: 'xs',
                name: 'logged-in',
              } : {},
              extra_classes: 'ecl-comment__author-name',
            } %}
          {% else %}
            <span class="ecl-comment__author-name">
              {{ anonymous_label|default("Anonymous") }}
            </span>
          {% endif %}

          {% if comment_origin.author is not empty %}
            <span class="ecl-comment__origin">{{ comment_origin.label|default('in reply to') }}</span>
            {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with {
              link: {
                type: 'standalone',
                label: comment_origin.author.name,
                path: '#' ~ comment_origin.comment_id,
                icon_position: 'before',
              },
              icon: comment_origin.is_owner ? {
                path: icon_file_path,
                type: 'general',
                size: 'xs',
                name: 'logged-in',
              } : {},
              extra_classes: 'ecl-comment__author-name',
            } %}
          {% endif %}
        </div>
        {% if timestamp %}
          {% include "@theme/patterns/components/timestamp.html.twig" with {
            extra_classes: 'ecl-comment__timestamp ecl-timestamp--meta',
            icon_file_path: icon_file_path,
            label: timestamp
          } only %}
        {% endif %}
      </div>

      {% if user and comment_id %}
        {% if can_delete_comment or can_edit_comment or can_request_delete_comment or can_request_archive_comment %}
        <div class="ecl-comment__header-aside">
          {% embed "@theme/patterns/compositions/collapsible-options.html.twig" with {
            extra_classes: 'ecl-collapsible-options--aligns-from-right',
            items: []|merge( can_edit_comment? [
              {
                link: {
                  label: edit_label|default('Edit comment'),
                  path: edit_path,
                },
                extra_classes: 'ecl-comment__edit',
                extra_attributes: action_attributes,
              }
            ] : [])|merge( can_delete_comment? [
              {
                link: {
                  label: delete_label|default('Delete comment'),
                  path: delete_path,
                },
                extra_classes: 'ecl-comment__delete',
                extra_attributes: action_attributes,
              },
          ] : [])|merge( can_request_delete_comment ? [
              {
                link: {
                  label: request_delete_label|default('Request deletion'),
                  path: request_delete_path
                },
                extra_classes: 'ecl-comment__delete',
                extra_attributes: action_attributes,
              }
            ] : [])|merge( can_request_archive_comment ? [
              {
                link: {
                  label: request_archive_label|default('Request archival'),
                  path: request_archive_path
                },
                extra_classes: 'ecl-comment__delete',
                extra_attributes: action_attributes,
              }
            ] : [])
          } %}
            {% block trigger%}
              {% include "@ecl-twig/ec-component-button/ecl-button.html.twig" with {
                label: options_label|default('Options'),
                extra_classes: "ecl-button--as-form-option",
                variant: 'ghost',
                icon: icon_file_path ? {
                  path: icon_file_path,
                  name: 'ellipsis',
                  type: 'custom',
                  transform: 'rotate-90',
                  size: 's',
                } : {},
              } %}
            {% endblock %}
          {% endembed %}
        </div>
          {% endif %}
      {% endif %}

    </header>

    <div class="ecl-comment__main">
      <div class="ecl-editable-wrapper">
        {{ comment | raw }}
      </div>

      {% if attachments is not empty %}
        <div class="ecl-comment__attachments" data-comment-attachment-max-length="{{ attachment_length|default(10) }}">
          <div class="ecl-comment__attachments-header">
            <span class="ecl-comment__attachments-label">{{  attachments|length ~ ' ' ~ attachments_label|default('attachment(s)')  }}</span>
            {% include "@ecl-twig/ec-component-button/ecl-button.html.twig" with {
              label: attachment_expand_label|default('Show all'),
              variant: 'ghost',
              extra_classes: 'ecl-comment__attachments-expand'
            } %}
            {% include "@ecl-twig/ec-component-button/ecl-button.html.twig" with {
              label: attachment_collapse_label|default('Minimize'),
              variant: 'ghost',
              extra_classes: 'ecl-comment__attachments-collapse'
            } %}
          </div>
          <div class="ecl-comment__attachments-items-wrapper">
            <div class="ecl-comment__attachments-items">
              {% for attachment in attachments %}
                <div class="ecl-comment__attachments-item">
                  {% include "@theme/patterns/components/attachment.html.twig" with attachment|default({})|merge({
                    is_clickable: true,
                    icon_file_path: icon_file_path,
                    extra_classes: "ecl-comment__attachment",
                  }) only %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    {% if user or stats %}
      <footer class="ecl-comment__footer">
        {% if user and comment_id %}
          <div class="ecl-comment__actions-wrapper">
            <div class="ecl-comment__actions">
              {% if reply_path %}
              <div class="ecl-comment__action">
                {% include "@ecl-twig/ec-component-link/ecl-link.html.twig" with {
                  link: {
                    label: reply_label|default('Reply'),
                    path: reply_path,
                  },
                  extra_classes: 'ecl-comment__reply ecl-link--button ecl-link--button-ghost',
                  extra_attributes: action_attributes,
                } %}
              </div>
              {% endif %}
              <div class="ecl-comment__action">
                {{ flag_link }}
              </div>
            </div>
          </div>
        {% endif %}

        {% if stats %}
          <div class="ecl-comment__stats-wrapper">
            <div class="ecl-comment__stats">
              {% for stat in stats %}
                <div class="ecl-comment__stat">
                  {% if stat.icon is not empty and icon_file_path %}
                    {% include '@ecl-twig/ec-component-icon/ecl-icon.html.twig' with stat|default({})|merge({
                      icon: stat.icon|default({})|merge({
                        size: 'xs',
                        path: icon_file_path,
                      }),
                      extra_classes: 'ecl-comment__stat-icon',
                    }) only %}
                  {% endif %}
                  <span class="ecl-comment__stat-label">{{ stat.label }}</span>
                  <span class="ecl-comment__stat-value">{{ stat.value }}</span>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </footer>
    {% endif %}
  </div>

  {% if items is not empty %}
    {% include "@theme/patterns/compositions/comment/comment-thread.html.twig" with {
      items: items,
      user: user,
      comment_origin: {
        author: author,
        comment_id: comment_id,
        is_owner: is_owner,
      }
    } only %}
  {% endif %}
</div>
