{% set title_element = title_element|default('h2') %}

<div class="ecl-teaser ecl-teaser--group ecl-teaser--project {{ extra_classes }}">
  <div class="ecl-teaser__main-wrapper">
    <div class="ecl-teaser__content-wrapper">
      <div class="ecl-teaser__content">
        <h2 class="ecl-teaser__title">
          <a href="{{ url }}"><span class="ecl-teaser__title-overflow"><span>{{ title }}</span></span></a>
        </h2>
        <div class="ecl-teaser__meta-header">
          {% if project_grant_agreement %}
            <span class="ecl-u-mr-l"><strong>ID: </strong>{{ project_grant_agreement }}</span>
          {% endif %}
          {% if project_date.start_date and project_date.end_date %}
            <span><strong>From&nbsp;</strong>{{ project_date.start_date }}<strong>&nbsp;to&nbsp;</strong>{{ project_date.end_date }}</span>
          {% endif %}
        </div>
        {% if project_teaser %}
          <div class="ecl-teaser__body">{{ project_teaser }}</div>
        {% endif %}
        <div class="ecl-teaser__meta-footer">
          {% if project_participating_countries_view %}
            {{ project_participating_countries_view }}
          {% endif %}
          {% if project_funding_programme %}
            <div class="ecl-teaser__programme">
              <strong>Programme: </strong><span>{{ project_funding_programme }}</span>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="ecl-teaser__sidebar">
    {% if project_fields_of_science %}
      <ul class="ecl-unordered-list ecl-unordered-list--no-bullet">
        {% for item in project_fields_of_science %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if project_horizon_results %}
      <div class="ecl-u-mb-s">
        {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
          icon: {
            path: eic_icon_path,
            type: 'general',
            name: 'growth',
          },
          link: {
            type: 'standalone',
            icon_position: 'before',
            path: project_horizon_results,
            label: 'view Horizon results',
          },
          extra_classes: 'ecl-link--button ecl-link--button-primary ecl-u-width-100 ',
        } only %}
      </div>
    {% endif %}
    {% if project_innovations %}
      <div class="ecl-u-mb-s">
        {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
          icon: {
            path: eic_icon_path,
            type: 'custom',
            name: 'check_circle',
          },
          link: {
            type: 'standalone',
            icon_position: 'before',
            path: project_innovations,
            label: 'view on InnoRadar',
          },
          extra_classes: 'ecl-link--button ecl-link--button-primary ecl-u-width-100 ',
        } only %}
      </div>
    {% endif %}
    {% if project_grant_agreement %}
      {% set cordis_url = cordis_base_path ~ project_grant_agreement %}
      <div class="ecl-u-mb-s">
        {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
          icon: {
            path: eic_icon_path,
            type: 'general',
            name: 'spreadsheet',
          },
          link: {
            type: 'standalone',
            icon_position: 'before',
            path: cordis_url,
            label: 'view on CORDIS',
          },
          extra_classes: 'ecl-link--button ecl-link--button-primary ecl-u-width-100 ',
        } only %}
      </div>
    {% endif %}

    {% if project_website %}
      <div class="ecl-u-mb-s">
        {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with {
          icon: {
            path: eic_icon_path,
            type: 'custom',
            name: 'star_circle',
          },
          link: {
            type: 'standalone',
            icon_position: 'before',
            path: project_website,
            label: 'view project website',
          },
          extra_classes: 'ecl-link--button ecl-link--button-primary ecl-u-width-100 ',
        } only %}
      </div>
    {% endif %}
  </div>
</div>
