{# {{ attach_library('eic_community/react-block-modal') }} #}
<div id="react-recommend-content-modal-block" data-entity-type="{{ entity_type }}" data-entity-id="{{ entity_id }}" data-get-users-url="{{ get_users_url }}" data-endpoint="{{ endpoint }}" />
  {{ translations.link_label }}
</div>
