{#
/**
 * @file
 * Default template for a pending/draft group's message box.
 *
 * Available variables:
 * - group: The group being displayed
 * - edit_link: Relative path to the edit form
 * - delete_link: Relative path to the delete form
 * - invite_link: Relative path to the add form for a group_invitation
 * - has_content: Boolean indicating whether or not the group has content
 * - has_member: Boolean indicating whether or not the group has admins or members
 * - actions: Array of content operations
 *
 * @ingroup themeable
 */
#}
{% set moderation_state = group.moderation_state.value %}
{% set bundle = group.bundle %}
<div class="ecl-container">
{% if moderation_state == 'pending' %}
  {% embed "@theme/patterns/compositions/state-banner.html.twig" with {
    "icon": {"name": "warning", "type": "notifications"},
    "icon_file_path": eic_icon_path,
    "title": "Awaiting approval"|t
  } %}
    {% block description %}
      <p>{{ 'This @entity_type is pending approval from our community team. We will endeavour to approve the @entity_type within 3 days.'|t({'@entity_type': bundle}) }}</p>
      <p>{{ 'You can still <a href="@edit_link">manage</a> or <a href="@delete_link">delete</a> your @entity_type'|t({'@delete_link': delete_link, '@edit_link': edit_link, '@entity_type': bundle}) }}</p>
    {% endblock %}
  {% endembed %}
{% elseif moderation_state == 'draft' %}
  {% embed "@theme/patterns/compositions/state-banner.html.twig" with {
    "icon": {"name": "success", "type": "notifications"},
    "icon_file_path": eic_icon_path,
    "title": "Congratulations! @entity_type approved"|t({'@entity_type': bundle|capitalize})
  } %}
    {% block description %}
      <p>{{ 'We advise these steps to make your @entity_type ready:'|t({'@entity_type': bundle}) }}</p>
      <ul>
        <li>{{ 'Configure your @entity_type: configure a welcome message for your GM\'s, configure the content section'|t({'@entity_type': bundle}) }}</li>
        <li>{{ 'Create content in the @entity_type'|t({'@entity_type': bundle}) }}</li>
        <li>{{ 'Publish your @entity_type'|t({'@entity_type': bundle}) }}</li>
      </ul>
      <p>{{ '<a href="@help_link">Click here</a> if you need additional help'|t({'@help_link': help_link}) }}</p>
    {% endblock %}
  {% endembed %}
{% elseif moderation_state == 'published' and has_member == false %}
  {% embed "@theme/patterns/compositions/state-banner.html.twig" with {
  "icon": {"name": "success", "type": "notifications"},
  "icon_file_path": eic_icon_path,
  "title": "Great! Your @entity_type is published. Now invite people to the @entity_type"|t({'@entity_type': bundle})
  } %}
    {% block description %}
      <p>{{ '<a href="@invite_link">Invite users</a> so they can contribute and engage with your @entity_type.'|t({'@invite_link': invite_link, '@entity_type': bundle}) }}</p>
      <p>{{ '<a href="@edit_link">Click here</a> if you want to make any changes to the settings of your @entity_type.'|t({'@edit_link': edit_link, '@entity_type': bundle}) }}</p>
    {% endblock %}
  {% endembed %}
{% endif %}

{% if actions is not empty and (moderation_state == 'draft' or moderation_state == 'published') and has_content == false %}
  {% embed "@theme/patterns/compositions/simple-banner.html.twig" with {
    "title": "Get the conversation started"|t,
    "icon_file_path": eic_icon_path
  } %}
    {% block description %}
      <p>{{ 'Start discussions with other members.'|t }}</p>
    {% endblock %}
  {% endembed %}
{% endif %}
</div>
