{{ attach_library('eic_community/react-activity-stream') }}

<div class="ecl-base-layout__content">
  <div class="ecl-base-layout__main">
    <main>
      <section class="ecl-section-wrapper">
        <div class="ecl-editorial-article">
          <div class="{{ is_taxonomy_term_page ? '' : 'ecl-container' }}">
            <div class="ecl-editorial-article__wrapper">

              <!-- React injection -->
              <div
                id="activity-stream-overview"
                data-solr-url="{{ url }}"
                data-translations="{{ translations | json_encode }}"
                data-source-class="{{ source_class }}"
                data-datasource="{{ datasource | json_encode }}"
                data-current-group="{{ group_id }}"
                data-is-anonymous="{{ is_anonymous }}"
              ></div>

              {% if members %}
                <aside class="ecl-editorial-article__aside">
                <div class="ecl-editorial-article__aside-wrapper">
                  <div
                    class="ecl-featured-list ecl-featured-list--is-collapsible wide-view ecl-featured-list--contributors ecl-featured-list--is-ready"
                    aria-collapsed="true">
                    <h3 class="ecl-featured-list__title">{{ 'Latest members' | t({}, {'context': 'eic_groups'}) }}</h3>

                    <div class="ecl-featured-list__items-wrapper">
                      <div class="ecl-featured-list__items">
                        {% for member in members %}
                          {% if member %}
                            <div class="ecl-featured-list__item">
                              <div class="ecl-author ecl-author--is-medium  ">
                                <div class="ecl-author__information">
                                  {% if member.organisations is not empty %}
                                    <span class="ecl-author__description">{{ member.organisations }}</span>
                                  {% endif %}
                                  <span class="ecl-author__label ">
                                    {% if member.url %}
                                      <a href="{{ member.url }}"
                                        class="ecl-link ecl-link--standalone ecl-author__link">{{ member.full_name }}
                                      </a>
                                    {% else %}
                                      {{ member.full_name }}
                                    {% endif %}
                                  </span>
                                  <span
                                    class="ecl-author__meta">{{ 'Joined @date' | t({'@date': member.joined_date}, {'context': 'eic_groups'}) }}</span>
                                  <div class="ecl-author__actions">
                                    <div class="ecl-author__action">
                                      <a href="mailto:{{ member.email }}" class="ecl-author__action-anchor">
                                        <svg class="ecl-icon ecl-icon--xs ecl-author-action__icon" focusable="false"
                                             aria-hidden="true">
                                          <use xlink:href="images/sprite/custom/sprites/custom.svg#custom--mail"></use>
                                        </svg>
                                        <span class="ecl-author__action-label">Mail</span>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                                <div class="ecl-author__aside">
                                  {% if member.url %}
                                    <a href="{{ member.url }}" class="ecl-author__media-wrapper">
                                  {% else %}
                                    <div class="ecl-author__media-wrapper">
                                  {% endif %}
                                    <figure class="ecl-media-container ecl-author__media"><img
                                        alt="Avatar image of {{ member.full_name }}" class="ecl-media-container__media"
                                        src="{{ member.picture }}"></figure>
                                  {% if member.url %}
                                    </a>
                                  {% else %}
                                    </div>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </aside>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
