{% set title_element = title_element|default('h3') %}

<section class="ecl-form__section {{ extra_classes }}">
  {% if title is not empty %}
    <{{ title_element}} class="ecl-form__section-title">{{ title }}</{{ title_element }}>
  {% endif %}

  {% if description %}
    <div class="ecl-form__description ecl-editable-wrapper">{{ description }}</div>
  {% endif %}

  {% for field in fields %}
    {% if field.type or field.name or field.id or field.link %}
      {% if field.type == 'textarea' %}
        {% include '@ecl-twig/ec-component-text-area/ecl-text-area.html.twig' with field|default({})|without('type')|merge({
          width: 'full',
        }) %}
      {% elseif field.type == 'checkbox' %}
        {% include '@theme/patterns/components/form/form-checkbox.html.twig' with field|default({})|without('type')|merge({
          icon_file_path: icon_file_path
        }) only %}
      {% elseif field.type == 'radio' %}
        {% include '@theme/patterns/components/form/form-radio.html.twig' with field|default({})|without('type')|merge({
          icon_file_path: icon_file_path
        }) only %}
      {% elseif field.type == 'radio-block' %}
        {% include '@theme/patterns/components/form/form-radio-block.html.twig' with field|default({})|without('type')|merge({
          type: 'submit',
          icon_path: icon_file_path
        }) %}
      {% elseif field.type == 'select' %}
        {% include '@ecl-twig/ec-component-select/ecl-select.html.twig' with field|default({})|without('type')|merge({
          icon_path: icon_file_path,
          width: 'full',
        }) %}
      {% elseif field.type == 'file' %}
        {% embed "@theme/patterns/components/well.html.twig" with field|default({})|merge({
          extra_classes: 'ecl-well--is-blue',
        }) only %}
          {% block content %}
            {% include '@ecl-twig/ec-component-file-upload/ecl-file-upload.html.twig' with field|default({})|without('type')|merge({
              width: 'full',
            }) %}
          {% endblock %}
        {% endembed %}
      {% elseif field.type == 'submit' %}
        {% include '@ecl-twig/ec-component-button/ecl-button.html.twig' with field|default({})|without('type')|merge({
          type: 'submit',
          icon_path: icon_file_path
        }) %}
      {% elseif field.type == 'button' %}
        {% include '@ecl-twig/ec-component-button/ecl-button.html.twig' with field|default({})|without('type')|merge({
          type: 'button',
          variant: 'secondary',
          icon_path: icon_file_path
        }) %}
      {% elseif field.link %}
        {% include '@ecl-twig/ec-component-link/ecl-link.html.twig' with field|default({})|without('type')|merge({
          icon_path: icon_file_path,
          extra_classes: 'ecl-link--button ecl-link--button-ghost',
        }) %}
      {% elseif field.type == 'info' %}
        <div class="ecl-form-group ecl-form-group--info">
          {{ field.text }}
        </div>
      {% else %}
        {% include '@ecl-twig/ec-component-text-input/ecl-text-input.html.twig' with field|default({})|merge({
          width: 'full',
        }) %}
      {% endif %}
    {% endif %}

    {% if field.fields is not empty %}
      {% include "@theme/patterns/components/form/form-section.html.twig" with field|default({})|merge({
        icon_file_path: icon_file_path,
      }) only %}
    {% endif %}
  {% endfor %}
</section>
