{#
/**
 * @file
 * Theme override to display a node page.
 *
 * @see ./themes/custom/eic_community/templates/content/node.html.twig
 */
#}
{% extends "@eic_community/content/node.html.twig" %}

{% block content %}

  {% embed "@theme/patterns/compositions/editorial-article.html.twig" with editorial_article|default({}) %}
      {% block content %}
        {% include "@theme/patterns/components/content-type-indicator.html.twig" with type|default({})|merge({
          extra_classes: 'ecl-editorial-header__type',
          icon_file_path: eic_icon_path,
        }) only %}
        <h1>{{ elements['#title'] }}</h1>
        {{ elements.field_body }}
        {% if author or timestamp %}
          <div class="ecl-editorial-article__meta">
            {% if author %}
              <div class="ecl-editorial-article__meta-item">
                {% include "@theme/patterns/components/author.html.twig" with {
                  name: author.name,
                  path: author.path,
                  image: author.image,
                  extra_classes: 'ecl-editorial-article__author',
                } %}
              </div>
            {% endif %}

            {% if timestamp %}
              <div class="ecl-editorial-article__meta-item">
                {% include "@theme/patterns/components/timestamp.html.twig" with timestamp|default({})|merge({
                  icon_file_path: eic_icon_path,
                  extra_classes: 'ecl-editorial-article__timestamp',
                }) %}
              </div>
            {% endif %}
          </div>
        {% endif %}
        {% if content.field_related_documents[0] is not empty %}
          <h2>{{ 'Documents'|t }}</h2>
          {{ content.field_related_documents }}
        {% endif %}
        {# {% if video_download %}
          {% include "@theme/patterns/components/attachment.html.twig" with video_download only %}
        {% else %} #}
        {{ content.field_related_downloads }}
        {# {% endif %} #}
      {% endblock %}
      {% block sidebar %}
        {{ eic_local_tasks }}

        {% if flags %}
          {% include "@theme/patterns/components/flags.html.twig" with flags|default({}) %}
        {% endif %}
        {{ elements.field_vocab_topics }}
      {% endblock %}
    {% endembed %}
{% endblock %}
