{% block content %}
  {% embed "@theme/patterns/compositions/editorial-article.html.twig" with editorial_article|default({}) %}
    {% block content %}
      {{ elements.field_body }}
      {% if image_wrapper %}
        {% include "@theme/patterns/compositions/media-wrapper.html.twig" with image_wrapper only %}
      {% endif %}
      {{ elements.field_news_paragraphs }}
      {% if video_download %}
        {% include "@theme/patterns/components/attachment.html.twig" with video_download only %}
      {% else %}
        {{ elements.field_video }}
      {% endif %}
      {% if download %}
        {% include "@theme/patterns/components/attachment.html.twig" with download only %}
      {% endif %}
      {{ elements.field_disclaimer }}
    {% endblock %}

    {% block sidebar %}
      {% include "@theme/patterns/compositions/editorial-actions.html.twig" with editorial_actions|default({}) %}

      {% if social_share is not empty %}
        {{ social_share }}
      {% endif %}

      {% include "@theme/patterns/compositions/featured-contributors.html.twig" with contributors|default({}) %}

      {% include "@theme/patterns/compositions/featured-topics.html.twig" with topics|default({}) %}

      {% include "@theme/patterns/compositions/featured-stories.html.twig" with stories|default({}) %}
    {% endblock %}
  {% endembed %}

  {% if logged_in %}
  <section class="ecl-section-wrapper ecl-section-wrapper--is-grey ecl-comment-overview ">
    <div class="ecl-container">
      <section class="ecl-section-wrapper">
        <div class="ecl-editorial-article ecl-editorial-article--has-static-layout">
          <div class="ecl-container">
            <div class="ecl-editorial-article__wrapper">
              <section class="ecl-editorial-article__content">
              {{ elements.field_comments }}
              </section>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  {% endif %}

{% endblock %}
